include header
script
	function flickIt (btn,id,cid) {
		$.ajax({
			type: 'POST',
			url: '/addtoq',
			data: {"titleid":id,"cid":cid},
			success: function (data) {
				if (data.response == 'success') {
					alert(data.response);
				} else {
					alert(data.response);
				}
				btn.disabled = true;
				btn.value = 'Flicked';
				console.log(btn);
				console.log(data);
				
			}
		});
	}
div.container-fluid
	hr
	div.row-fluid
		div.span6
		<div class="container">
		<div class="hero-unit">
		<h1>FlicksAt</h1>
		</div>
		<div class="row">
		<div class="span4">
		<p><h2>Flick Movies at Your Friends.</h2> </p><p><h2>They'll Love It.</h2><h2>Or Hate You.</h2><br><br><h2>It's Up to You.</h2> </p>
		</div>
		<div class="row">
		<div class="span16">
		<ul class="media-grid">
		h3.error_message 
		- if (movies)
			- each movie in movies
				<ul><a href="#"><img src=#{movie.attributes.box_art.large} alt="" /></a>
				<form action="/getmovie" method="POST"><input type="hidden" name="titleid" value="#{movie.attributes.id}"/>
				<input type="hidden" name="cid" value="#{movie.attributes.cid}"/>
				<input type="hidden" name="moviename" value="#{movie.attributes.title.regular}"/>
				<input type="hidden" name="img" value="#{movie.attributes.box_art.large}"/>
				h3 #{movie.attributes.title.regular}
				<input type="submit" class="btn" value="Select for Flicking"/> </form></ul>
		</ul>
		</div>
		</div>
		</div>
include footer
